[Unit]
Description=Gunicorn instance to serve Flask App
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/opt/flask_app
ExecStart=/usr/bin/gunicorn --workers 3 --bind 0.0.0.0:8000 wsgi:app

[Install]
WantedBy=multi-user.target
